@import 'variables.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'buttons.scss';
@import 'nav.scss';
@import 'typography.scss';
@import 'gallery.scss';
@import 'header.scss';
@import 'footer.scss';

html {
  color: #893945;
  font-size: 10px;
}

body {
  color: #757575;
  font-family: Lato, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
}

.intro-text {
  margin: 8rem 0;
  text-align: center;
}

.main {
  margin: 4rem auto;
  max-width: $max-width;
  padding: 0 4rem;
}

img {
  height: 100%;
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0.2rem;
  margin: 2rem auto;
  max-width: 40rem;
  width: 100%;
}

thead {
  tr {
    background: $secondary-color;
  }

  th {
    color: $white;
    padding: 2rem;
  }
}

tbody {
  tr {
    &:nth-child(odd) {
      background: lighten($primary-color, 28%);
    }

    &:nth-child(even) {
      background: lighten($primary-color, 32%);
    }
  }

  th {
    background: $primary-gradient;
    color: $white;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding: 2rem;
    text-transform: uppercase;
  }

  td {
    color: #ad001a;
    font-size: 1.6rem;
    padding: 2rem;
  }
}
