@import 'variables.scss';

.main-nav {
  margin: 2rem 0;

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (min-width: 360px) {
      justify-content: center;
    }
  }

  a {
    color: #333;
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0 1.5rem;
    text-transform: uppercase;

    &:hover,
    &.is-active {
      color: $primary-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
