@import 'variables.scss';

.main-nav {
  background-color: $primary-color;
  margin-top: 4rem;
  padding: 0 2rem;

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (min-width: 360px) {
      justify-content: center;
    }
  }

  a {
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1.4rem 1.4rem;
    text-transform: uppercase;

    @media (min-width: 360px) {
      margin: 0 1rem;
    }

    &:hover,
    &.is-active {
      color: $white;
      opacity: 0.7;
    }
  }
}
